{% extends 'layout.bootstrap.html.twig' %}
{% block body %}


    <div class="container-fluid">
        <h1 class="mt-5">Editando repostaje</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="align-right">Fecha</th>
                <th class="align-right">Kilómetros recorridos</th>
                <th class="align-right">Total litros</th>
                <th class="align-right">Consumo medio</th>
                <th class="align-right">Total Repostaje</th>
                <th class="align-right">Precio carburante</th>
                <th class="align-right">Medida ordenador</th>
            </tr>
            </thead>
            <tbody>
            {% for repostaje in repostajes %}

                <tr>
                    <td class="align-right">{{ repostaje.fechaRepostaje |date('d-m-Y') }}</td>
                    <td class="align-right">{{ repostaje.kilometros | number_format(2, ',', '.') }}</td>
                    <td class="align-left">{{ repostaje.litrosRepostados | number_format(2, ',', '.') }}</td>
                    <td class="align-right">*pendiente</td>
                    <td class="align-right">{{ repostaje.totalRepostaje | number_format(2, ',', '.') }} €</td>
                    <td class="align-right">*pendiente</td>
                    <td class="align-right">{{ repostaje.medidaOrdenador | number_format(2, ',', '.') }}</td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>



{% endblock %}