{% extends 'layout.bootstrap.html.twig' %}
{% block body %}


    <div class="container-fluid">
        <h1 class="mt-5">Editando repostaje</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Kilómetros recorridos</th>
                <th>Total litros</th>
                <th>Consumo medio</th>
                <th>Total Repostaje</th>
                <th>Precio carburante</th>
                <th>Medida ordenador</th>
            </tr>
            </thead>
            <tbody>
            {% for repostaje in repostajes %}

                <tr>
                    <td>{{ repostaje.fechaRepostaje |date('d-m-Y') }}</td>
                    <td>{{ repostaje.kilometros | number_format(2, ',', '.') }}</td>
                    <td>{{ repostaje.litrosRepostados | number_format(2, ',', '.') }}</td>
                    <td>*pendiente</td>
                    <td>{{ repostaje.totalRepostaje | number_format(2, ',', '.') }} €</td>
                    <td>*pendiente</td>
                    <td>{{ repostaje.medidaOrdenador | number_format(2, ',', '.') }}</td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>



{% endblock %}